mixin inlineType(type)
    if type.module && type.module !== module.name
        span(title=`from module ${module.name}`).tooltip.type
            span= type.name
    else
        a(href=`${rootPath}/i/${type.name}.html`).type
            - var icon = type.ty[0].toUpperCase()
            - var desc = type.ty.split('_').map(word => word[0].toUpperCase() + word.substring(1)).join(" ")
            span(aria-disabled=true, class=`icon tooltip ${icon}`, title=desc)= icon
            span= type.name
        
