doctype html
html
    head
        title #{module.name} - API docs
        
        script(type='text/javascript', src='https://unpkg.com/tippy.js@2.4.1/dist/tippy.all.min.js')
        
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i')
        link(rel='stylesheet', href=`${rootPath}/style.css`)
    body
        #header
            a(href=`${rootPath}/index.html`)
                span.moduleName #{module.name}:
                span.moduleDesc= module.description
        #content
            #sidebar
                include sidebar.pug
            #body
                block body

        script.
            tippy('.tooltip')
