block variables
doctype html
html
    head
        - var title = `${name}: ${module.name} ${module.version} Documentation`
        title= title
        meta(name='title', content=title)
        
        meta(name='description', content=striptags(description))
        meta(name='theme-color', content=module.docopts.themeColor)
            
        meta(property='og:type', content='article')
        meta(property='og:title', content=title)
        meta(property='og:description', content=striptags(description))
            
        link(rel='stylesheet', href=pathFor(STYLESHEET_PATH))
    body.body-split
        header.header
            a.header__component.header__title(href=pathFor('index.html'))
                h1= module.docopts.title
            span.header__component.header__versiontag
                span.header__versiontag__version= `v${module.version}`
        div.body-split__split
            include sidebar.pug
            main.body-split__split__wide
                block body
